 
<div class="card text-center">
  <div class="card-header">
    <h2>Student Registration - CRUD</h2>
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active">Home</a> 
     </li>
     
     <li class="nav-item">
      <a class="nav-link" routerLink="addstudent" routerLinkActive="active">Add Student</a> 
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="LazyLoad" routerLinkActive="active">Lazy Load</a> 
    </li>
     <li class="nav-item">
         <a class="nav-link" routerLink="login" routerLinkActive="active">login</a> 
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="signup" routerLinkActive="active">Sign up</a> 
     </li>
    </ul>
    <div *ngIf="userName" style="float: right">
      Welcome {{userName}} 
      <a [routerLink]="[]" (click)="logout()">logout</a> 
    </div>
    <!-- <a [routerLink]="[]" (click)="logout()">logout</a>  -->
  </div>
  
</div>
<div style="padding: 30px">
  <router-outlet></router-outlet>
</div>

